.login-page {
    background-image: url("../images/fondologin.jpg");
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-position: center; /* Para centrar la imagen */
}
.login-logo{
    background-color:  #a2cdf3;
    border-radius: 8%;
    color: #000;
}

.login-logo a {
    color: #000 !important; /* Fuerza el color negro */
}

.login-card-body{
    background-color: #a2cdf3;
    border-radius: 6%;
    color: #000000d2;
}

.card{
    border-radius: 6%;
    
}
.login-box-msg{
    color: #000000;
    margin-bottom: -8%;;
}